.form {
    background-color: #F8F6F0;
    padding: 24px 120px;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.domain-info-table {
    margin-bottom: 12px;

}

.title {
    font-size: 29px;
    font-weight: 600;

}

.form-title {
    font-size: 20px;
    font-weight: 600;

}



.mobile-form-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0;
}

.mobile-form-title-free-domain {
    font-size: 18px;
    font-weight: 600;
    padding-top: 24px;
}

.mobile-mobile-form-sub-header {
    font-size: 18px;
    font-weight: 600;
}

.mobile-form-title-domain {
    font-size: 18px;
    font-weight: 600;
}

.instruction-div {
    padding-top: 24px;
}


.sub-title {
    font-size: 20px;
    font-weight: 600;
}

.form-sub-header {
    padding-top: 24px;
    font-size: 16px;
    font-weight: 600;
}

.mobile-form-sub-header {
    padding-top: 24px;
    font-size: 14px;
    font-weight: 600;
}


.add-dns-content {
    font-weight: 400;
    font-size: 18px;
}

.automatically-point-content {
    font-weight: 400;
    font-size: 18px;
}

.input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-input-disabled {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #CFCFCF;
    width: 100%;
}

.form-input-disabled::placeholder {
    color: #CFCFCF;
}

.form-input {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #B5B5B5;
    width: 100%;
}

.form-input-password {
    margin-right: 10px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #B5B5B5;
    width: 100%;
}


.mobile-form-input-disabled {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #CFCFCF;
    width: 100%;
    height: 56px;
}

.mobile-form-input {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #B5B5B5;
    width: 100%;
    height: 56px;
}


.form-input-custom-domain {
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 10px;
    border: 1px solid #B5B5B5;
    width: 100%;
}

.form-container {
    margin: 0px 24px;
}

.url-form {
    margin: 16px 16px 16px 16px;
    border-radius: 16px;
    padding-top: 40px;
    background-color: white;
}

.preview-btn-container {
    padding-top: 48px;
    text-align: center;
    padding-bottom: 40px;
}

.note {
    color: #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.regular-user-header {
    font-size: 16px;
    font-weight: 600;
    color: #4D9F70;
}

.favicon-img-container {
    width: fit-content;
}

.instruction {
    list-style-type: disc;
}

.domain-info {
    margin-top: 12px;
    background-color: #E6F0E9;
    border-radius: 16px;
    padding: 10px 16px;

}

.domain-info-header {
    margin: 0;
    margin-bottom: 12px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.domain-info-subheader {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.domain-info-one {
    margin: 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

th,
td {
    padding-right: 15px;
}

.instruction-img {
    width: 100%;
    height: auto;
    padding-bottom: 12px;
}

.instruction-title {
    color: #2D2B29;
    font-size: 17px;
    font-weight: 600;
}

.instruction-note {
    padding-top: 16px;
    color: #403D3B;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.instructions {
    margin: 0;
    color: #403D3B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}



.form-favicon-note {
    padding-top: 8px;
}



@media only screen and (max-width: 768px) {
    .favicon-prev {
        width: 48px;
        height: 48px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 1023px) {
    .form {
        padding: 24px 24px;
    }

    .instructions {
        font-size: 15px;
    }

    .instruction-title {
        font-size: 17px;
    }

    .instruction-note {
        font-size: 13px;
    }
}


@media only screen and (max-width: 1024px) {

    .instruction-img {
        height: 185;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    .instruction-img {
        height: 185;
        padding: 10px;
    }

    .form {
        background-color: #F8F6F0;
        padding: 24px 24px;

    }

    .preview-btn-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form-container {
        margin: 0px 24px;
    }

    .url-form {
        margin: 0;
        padding-top: 24px;
    }

}