.payment-feature {
    display: flex;

}

.payment-modal-selection-title {
    color: #2D2B29;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 32px;
    margin: 0;
}

.amount {
    display: inline-block;
    height: .75rem;
}

.payment-feature-text {
    margin-top: 4px;
    color: #2D2B29;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.bill-desc {
    color: #A0A0A0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom: 20px;
}

.payment-modal-header {
    color: var(--grey-10, #272E3B);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 16px;
    margin: 0;
}

.payment-modal-subheader {
    color: #4E5969;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
    margin: 0;
}

.regular-card {
    min-height: 430px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    border-radius: 16px;
    border: 1px solid var(--grey-4, #E5E6EB);
    background: var(--neutral-white, #FFF);
}

.payment-selection-modal {
    padding-top: 80px;
    min-width: 878px !important;
    min-height: 538px;
    overflow: hidden;
}

.payment-modal-body {
    max-width: 900px;
    padding: 24px;
}

.amount {
    color: #2D2B29;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.month {
    color: #2D2B29;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.check-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.green-card {
    min-height: 430px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    border-radius: 16px;
    border: 2px solid #036D21;
    background: #E6F0E9;
}

.heading-container {
    display: flex;
    justify-content: space-between;
}

.most-popular {
    width: 79px;
    height: 22px;
}

.payment-feature-container {
    min-height: 250px;
    padding-bottom: 50px;
}

.button-upgrade-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    padding-bottom: 20px;
}

.button-upgrade-container-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    padding-bottom: 20px;
}


.btn-upgrade-plan {
    min-width: 206px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 400;
    color: white;
    font-size: 16px;
    border: none;
    bottom: 0;
    background-color: #4D9F70;
    font-weight: 700;
}

.btn-current-plan {
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 400;
    color: #A0A0A0;
    font-size: 16px;
    border: none;
    bottom: 0;
    background: #F2F2F2;
    font-weight: 700;
}


@media (max-width: 767px) {

    .payment-feature-container {
        min-height: 0px;
        padding-bottom: 50px;
    }

    .payment-modal-header {
        font-size: 12px;
    }

    .payment-modal-selection-title {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .amount {
        font-size: 35px;
    }

    .payment-selection-modal {
        min-width: 200px !important;
    }

    .regular-card {
        margin-bottom: 20px;
    }

    .payment-feature-text {
        font-size: 13px;
    }

    .regular-card {
        min-height: 300px;
        margin-bottom: 24px;
    }

    .button-upgrade-container-2 {
        position: relative;
        padding-bottom: 0px;
    }

    .button-upgrade-container {
        position: relative;
        padding-bottom: 0px;
    }

    .green-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .payment-feature-container {
        min-height: 0px;
        padding-bottom: 50px;
    }

    .button-upgrade-container {
        position: relative;
        padding-bottom: 0px;
    }

    .button-upgrade-container-2 {
        position: relative;
        padding-bottom: 0px;
    }

    .regular-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

    .green-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

    .payment-feature-text {
        font-size: 13px;
    }

    .payment-modal-header {
        font-size: 12px;
    }

    .payment-modal-selection-title {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .payment-selection-modal {
        min-width: 500px !important;
    }


    .btn-current-plan {
        text-align: center;
        min-width: 160px;

    }

}