.payment-feature {
    display: flex;
}

.payment-modal-selection-title {
    color: #2D2B29;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 32px;
    margin: 0;
}

.payment-modal-selection-title-yearly {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 32px;
    margin: 0;
}


.payment-feature-text {
    margin-top: 4px;
    color: #2D2B29;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.payment-feature-text-yearly {
    margin-top: 4px;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.bill-desc {
    color: #666666;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    height: 2em;
       padding-top: 10px;
}

.bill-desc-yearly {
    height: 2em;
    color: White;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding-top: 10px;
}
.payment-header-container{
    text-align: center;
}

.payment-modal-header {
    color:#272E3B;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 12px;
    margin: 0;
}

.payment-modal-sub-header {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 32px;
    margin: 0;
}
.payment-modal-subheader {
    color: #4E5969;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
    margin: 0;
}

.regular-card {
    min-height: 637px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    border-radius: 16px;
    border: 1px solid var(--grey-4, #E5E6EB);
    background: var(--neutral-white, #FFF);
}

.payment-selection-modal {
    border-radius: 12px;
    padding-top: 35px;
    max-width: 1041px !important;
    min-height: 538px;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
}

.payment-modal-body {
    margin: 60px;
    max-height: calc(100vh - 210px);
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.amount {
    color: #2D2B29;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: .75rem;
}

.amount-yearly {
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: .75rem;
}
.month {
    color: #2D2B29;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.month-yearly{
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.modal-body {
    padding: 0;
}

.check-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.plan-icon {
    height: 42px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.green-card {
    min-height: 637px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    border-radius: 16px;
    background: #4D9F70;
}

.heading-container {
    display: flex;
    justify-content: space-between;
}

.most-popular {
    width: 79px;
    height: 22px;
}

.payment-feature-container {
    min-height: 272px;
    padding-bottom: 50px;
}

.button-upgrade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.plancard-divider{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid #BCBCBC;
}

.plancard-divider-yearly{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid white;
}
.btn-upgrade-plan-yearly{
   width: 100%;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 400;
    color: #4D9F70;
    font-size: 16px;
    border: none;
    bottom: 0;
    background-color: white;
    font-weight: 600;
}
.btn-upgrade-plan {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 400;
    color: white;
    font-size: 16px;
    border: none;
    bottom: 0;
    background-color: #4D9F70;
    font-weight: 600;
}

.btn-current-plan {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 400;
    color: #A0A0A0;
    font-size: 16px;
    border: none;
    bottom: 0;
    background: #F2F2F2;
    font-weight: 600;
}

.close-container {
    position: absolute;
    top: 30px; /* Adjust this value to position vertically */
    right: 30px; /* Adjust this value to position horizontally */
    z-index: 1000; /* Ensure it's above other elements */
}

.close-container img {
    cursor: pointer;
}

@media (max-width: 767px) {
    .payment-modal-body {
        margin: 64px 18px 18px 18px;
    }
    .payment-feature-container {
        min-height: 0px;
        padding-bottom: 50px;
    }

    .payment-modal-header {
        font-size: 18px;
    }

    .payment-modal-selection-title {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .amount {
        font-size: 35px;
    }

    .payment-selection-modal {
        padding-top: 30px;
        min-width: 200px !important;
    }

    .regular-card {
        margin-bottom: 20px;
    }

    .payment-feature-text {
        font-size: 13px;
    }

    .payment-feature-text-yearly {
        font-size: 13px;
    }

    .regular-card {
        min-height: 300px;
        margin-bottom: 24px;
    }

    .button-upgrade-container {
        position: relative;
        padding-bottom: 0px;
    }

    .green-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

    .payment-modal-sub-header{
        font-size: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .payment-modal-sub-header{
        font-size: 16px;
    }
    .payment-feature-container {
        min-height: 0px;
        padding-bottom: 50px;
    }

    .button-upgrade-container {
        position: relative;
        padding-bottom: 0px;
    }

    .regular-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

    .green-card {
        min-height: 350px;
        margin-bottom: 24px;
    }

    .payment-feature-text {
        font-size: 13px;
    }
    .payment-feature-text-yearly {
        font-size: 13px;
    }


    .payment-modal-selection-title {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .payment-selection-modal {
        padding-top: 30px;
        min-width: 500px !important;
    }


    .btn-current-plan {
        text-align: center;
        min-width: 160px;

    }

}