.body {
    background-color: white;
}

.main-title {
    padding-top: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.tab-view {
   
    padding-bottom: 251px;
    background-color: white;
}

.nav-tabs {
    border: none;
}


.header-text {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.forgot-password{
    text-align: right;
    text-decoration: none;
    color: #4D9F70;
    font-weight: bold;
}

/* .btn-sign-in {
    width: 100%;
    margin-top: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.no-account-yet {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}


.nav-pills{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: #4D9F70 !important;
}

.nav-pills .nav-link {
    color: #A0A0A0;
}



.mobile-main-auth-container {
    height: 100vh;
    background-color: #F8F6F0;
  
}

@media only screen and (max-width: 1280px) { 
    .main-auth-container {
        background: #F2EFE5;
    }
    .mobile-card{
        margin:0px 24px;
        border-radius: 16px;
        background: var(--neutral-white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 37px 24px;
    }
    .mobile-header-text {
        padding: 25px 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
    .header-text{
        margin-top: 0px;
        padding-bottom: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }
    .mobile-main-auth-container{
        background: #F2EFE5;
    }
    
.nav-pills{
    padding-bottom: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
}
