.body {
    background-color: white;
}

.tab-view {
    padding-top: 50px;
    background-color: white;
}
.nav-pills{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: #4D9F70 !important;
}

.nav-pills .nav-link {
    color: #A0A0A0;
    
}

.header-text {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.forgot-password{
    text-align: right;
    text-decoration: none;
    color: #4D9F70;
    font-weight: bold;
}

/* .btn-sign-in {
    width: 100%;
    margin-top: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.no-account-yet {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

