.btn-changepassword {
    width: 100%;
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}
.btn-block {
    width: 100%;
    margin-top: 50px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.btn-upload-image {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}
.preview-btn {
    width: 510px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}
.delete-btn{
    width: 100%;
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #E95B5B;
}

.new-site{
    font-size: 16px;
    width: 158px;
    margin-top: 50px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.update-btn {
    margin: 10px;
    width: 109px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.disabled-btn-changepassword {
    width: 100%;
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: grey;
    border: none;
}
.disabled {
        width: 100%;
        margin-top: 50px;
        padding: 12px 24px;
        border-radius: 40px;
        font-weight: 700;
        color: grey;
        border: none;
}

.start-for-free-btn{
    font-size: 20px;
    margin: 10px;
    width: 220px;
    padding: 12px 24px;
    border-radius: 40px;
    border: solid;
    font-weight: 700;
    color: white;
    border-color: #4D9F70;
    background-color: #4D9F70;
}

.start-for-free-btn-second {
    font-size: 20px;
    margin: 10px;
    width: 220px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70; 
}


.signup-btn{
    font-size: 20px;
    margin: 10px;
    width: 150px;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #4D9F70;
}

/* MOBILE VIEW */
@media only screen and (max-width: 1280px) {
    .start-for-free-btn{
        font-size: 18px;
        margin: 0px 0px 16px 0px;
        width: 100%;
        padding: 8px 12px;
        border-radius: 40px;
        font-weight: 700;
        color: white;
        border-color: #4D9F70;
        background-color: #4D9F70;
    }

    .start-for-free-btn-second {
        font-size: 18px;
        margin: 40px 0 48px 0;
        width: 100%;
        padding: 8px 12px;
        border-radius: 40px;
        font-weight: 700;
        color: white;
        border: none;
        background-color: #4D9F70; 
    }
}