.btn-notify-me {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}





.btn-changepassword {
    width: 100%;
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.sign-in-btn-block {
    width: 100%;
    margin-top: 80px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.btn-upload-image {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}


.mobile-folio-form-save-btn {
    margin-top: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
    width: 100%;
}
.folio-form-save-btn {
    margin-top: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}


.mobile-form-upgrade-now {
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #4D9F70;
    width: 100%;
}
.upgrade-now {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.preview-btn {
    padding: 12px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.delete-btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #E95B5B;
}

.update-email {
    font-size: 16px;
    width: 100%;
    margin-top: 50px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}
.empty-card-new-site-btn{
    font-size: 16px;
    padding: 12px 24px 12px 22px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}
.new-site {
    font-size: 16px;
    padding: 12px 24px 12px 22px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}



.disabled-btn-changepassword {
    width: 100%;
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: grey;
    border: none;
}

.sign-in-disabled {
    width: 100%;
    margin-top: 80px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: grey;
    border: none;
}

.update-btn {
    margin: 0;
    padding: 8px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.update-btn-mobile {
    margin: 0;
    width: 100%;
    padding: 8px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.update-btn-disabled {
    margin: 0;
    padding: 8px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    color: grey;
    border: none;
}

.start-for-free-btn {
    font-size: 20px;
    margin: 10px;
    width: 220px;
    padding: 12px 24px;
    border-radius: 40px;
    border: solid;
    font-weight: 600;
    color: white;
    border-color: #4D9F70;
    background-color: #4D9F70;
}

.start-for-free-btn-second {
    font-size: 20px;
    margin: 10px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.form-switch-container {
    padding: 0px 8px 0px 8px;
}

.signup-btn {
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}

.gotoapp {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #4D9F70;
}
@media only screen and (max-width: 768px) {
    .new-site {
        margin-top: 24px;
        width: 100%;
    }
}
/* MOBILE VIEW */
@media only screen and (max-width: 1280px) {



    .start-for-free-btn {
        font-size: 18px;
        margin: 0px 0px 16px 0px;
        width: 100%;
        padding: 8px 12px;
        border-radius: 40px;
        font-weight: 600;
        color: white;
        border-color: #4D9F70;
        background-color: #4D9F70;
    }

    .start-for-free-btn-second {
        font-size: 18px;
        margin: 0px 0 14px 0;
        width: 100%;
        padding: 8px 12px;
        border-radius: 40px;
        font-weight: 600;
        color: white;
        border: none;
        background-color: #4D9F70;
    }



    .signup-btn {
        margin-left: 4px;
        padding: 4px 12px;
        font-size: 16px;
        border-radius: 40px;
        font-weight: 600;
        color: white;
        border: none;
        background-color: #4D9F70;
    }

    .preview-btn {
        margin-top: 0;
        border-radius: 40px;
        font-weight: 600;
        color: white;
        border: none;
        background-color: #4D9F70;
    }

}