.side-frame {
    padding-top: 50px;
    height: 100%;
    text-align: center;
    background-color: #F2EFE5;
    background-repeat: no-repeat;
    background-size:contain;
    position:fixed;
}
.header {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #2D2B29;
}
.sub-header {
    font-weight: 700;
    font-size: 20px;
    color: #9A8742;
}