.side-frame {
    padding: 127px 55px 0px 55px;
    background: #F2EFE5;
    text-align: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    position:fixed;
}
.header {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2D2B29;
}
.sub-header {
    padding-top: 24px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}
.sideframe_img{
    width: 100%;
}