.new-site-div {
    text-align: end;
}

.published-draft-holder {
    position: relative;

}
.published-draft-holder p {
position: absolute;
    bottom: 0;
}

.dashboard-view{
    background-color:var(--neutral-white, #FFF);
    padding: 40px 120px;
}


@media only screen and (max-width: 1280px) {
    .dashboard-view{
        padding: 24px 24px;
    }
}