.new-site-div {
    text-align: end;
}
.folio-container{
    align-items: center;
}
.published-draft-holder {
    position: relative;

}

.published-draft-holder p {
    position: absolute;
    bottom: 0;
}

.dashboard-view {
    min-height: 700px;
    background-color: var(--neutral-white, #FFF);
    padding: 40px 120px;
}

.transfering-to-payment {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;

}
.new-site-container{
    align-items: center;
    display: flex;
    justify-content: end;
}
.transfering-to-payment-text {
    color: black;
    font-size: 32px;
    font-weight: 600;
}

.dashboard-sub-header{
    font-size: 14px;
}
.dashboard-header{
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .dashboard-view {
        padding: 24px 24px;
    }
    .dashboard-header{
        font-size: 18px;
        font-weight: 600;
    } 
}

@media only screen and (max-width: 1280px) {
   

    .transfering-to-payment-text {
        text-align: center;
    }
}