.btn-cancel {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.btn-start {
    white-space: nowrap; /* Prevents text from wrapping */
    display: inline-block; /* Ensures proper sizing */
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 40px;
    border: solid 2px #4D9F70;
    color: white;
    background-color: #4D9F70;
    font-size: clamp(12px, 4vw, 20px); /* Dynamically resizes text */
    margin-right: 10px;


}

.guide-btn {
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Ensures proper sizing */
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 40px;
    border: solid 2px #4D9F70;
    background-color: transparent;
    color: #4D9F70;
    font-size: clamp(12px, 4vw, 20px); /* Dynamically resizes text */
}

.btn-clear {
    width: 100%;
    margin-top: 50px;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.cancel-delete-btn {
    width: 100%;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.go-to-preview {
    margin-right: 8px;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}


.form-change-password{
    margin-right: 8px;
    margin-top: 16px;
    width: fit-content;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.mobile-form-change-password{
    margin-right: 8px;
    margin-top: 16px;
    width: 100%;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}
.mobile-form-go-to-preview {
    margin-right: 8px;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    width: 100%;
}

.view-site {
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: #F8F6F0;
}

.mobile-form-view-site {
    width: 100%;
    margin-top: 24px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}



.mobile-form-upload-image {
    width: 100%;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.mobile-form-upload-image-disabled {
    width: 100%;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #CFCFCF;
    color: #CFCFCF;
    background-color: white;
}

.upload-image {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.upload-image-disabled {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #CFCFCF;
    color: #CFCFCF;
    background-color: white;
}

.upgrade-plan {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.save-as-draft {
    margin: 0;

    padding: 8px 24px;
    border-radius: 40px;
    border: solid;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}




/* MOBILE VIEW */
@media only screen and (max-width: 1280px) {
    


    .save-as-draft {
        margin: 0;
        width: 100%;
        padding: 8px 24px;
        border-radius: 40px;
        border: solid;
        font-weight: 600;
        border-color: #4D9F70;
        color: #4D9F70;
        background-color: white;
    }

}