.btn-cancel {
    width: 100%;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.btn-clear {
    width: 100%;
    margin-top: 50px;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.cancel-delete-btn {
    width: 100%;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    border: solid;
}

.go-to-preview {
    margin-right: 8px;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}


.form-change-password{
    margin-right: 8px;
    margin-top: 16px;
    width: fit-content;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.mobile-form-go-to-preview {
    margin-right: 8px;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
    width: 100%;
}

.view-site {
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: #F8F6F0;
}

.mobile-form-view-site {
    width: 100%;
    margin-top: 24px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}



.mobile-form-upload-image {
    width: 100%;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.mobile-form-upload-image-disabled {
    width: 100%;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #CFCFCF;
    color: #CFCFCF;
    background-color: white;
}

.upload-image {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.upload-image-disabled {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #CFCFCF;
    color: #CFCFCF;
    background-color: white;
}

.upgrade-plan {
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.save-as-draft {
    margin: 0;

    padding: 8px 24px;
    border-radius: 40px;
    border: solid;
    font-weight: 600;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: white;
}

.guide-btn {
    margin: 10px;
    font-size: 20px;
    border: solid;
    padding: 12px 24px 12px 24px;
    border-radius: 40px;
    font-weight: 600;
    border-style: solid;
    border-color: #4D9F70;
    color: #4D9F70;
    background-color: transparent;
}


/* MOBILE VIEW */
@media only screen and (max-width: 1280px) {
    .guide-btn {
        margin: 0px;
        font-size: 18px;
        width: 100%;
        padding: 8px 12px;
        border-radius: 40px;
        border-style: solid;
        font-weight: 600;
        border-color: #4D9F70;
        color: #4D9F70;
        background-color: transparent;
    }


    .save-as-draft {
        margin: 0;
        width: 100%;
        padding: 8px 24px;
        border-radius: 40px;
        border: solid;
        font-weight: 600;
        border-color: #4D9F70;
        color: #4D9F70;
        background-color: white;
    }

}