.footer {
    background-color: white;
    padding: 40px 120px 40px 120px;
}


.footer-figmafolio {
    font-size: 20px;
    font-weight: 700;
}

.footer-center{
    font-size: 14px;
    font-weight: 500;
}