.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 40px 120px;

}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-left-item {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer-figmafolio {
    font-size: 20px;
    font-weight: 600;
}

.footer-center {
    margin: 0;
    font-size: 14px;
    font-weight: 600;

}

.email-support-container {
    text-align: end;

}

.email-support-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .footer-center {
        font-size: 12px;
    }

    .email-support-link {
        font-size: 12px;
    }

    .footer {
        padding: 16px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-left-item {
        flex-direction: column;
    }
}