/* CSS */
.drag-drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    cursor: pointer;
   border-radius: 16px;
  }
  
.upload-image-modal{
  padding-top: 50px;
  text-align: center;
  Height: 296px;
}

