.password-input-group {
    display: block;

    width: 100%;
    border-radius: 12px;
    border: 0.5px solid #B5B5B5;

}

.password-holder {
    padding-top: 32px;
}

.password-input {
    width: 90%;
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
}

.show-password-btn {
    background-color: transparent;
    color: #B5B5B5;
}

.show-password-btn:hover {
    background-color: transparent;
    color: #B5B5B5;
}

.show-password-btn.active {
    background-color: transparent;
    color: #B5B5B5;
}