.nav-container {
    width: 100%;
    position: fixed;
    padding: 24px 120px;
    background-color: #F8F6F0;
    display: flex;

    top: 0;
    left: 0;
    right: 0;
    justify-content: center; /* Horizontally center the column within the container */
    align-items: center;
}
.draft-publish-container {
    display: flex;
    justify-content: end; 
    width: 100%;
    text-align: center;
    column-gap: 16px;
}

.preview-switch-header {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 600;
    text-align: center;
}

.switch-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
   
}


.form-check-input{
    padding: 10px 20px 10px 20px;  
   
}
.form-switch .form-check-input {
    height: 1.5em !important;
    width: 3em !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='white'/%3e%3c/svg%3e") !important;
}
.figma_view {
    margin-top:131px;
}

.dynamic_view_figma_view{
    margin-top:0px;
}

.form-check-input, .form-check-input:checked {
background-color: #4D9F70 !important;
border-color: #4D9F70 !important;
}
  

  
@media only screen and (max-width: 1280px) {

    .mobile-nav-container {
        padding: 24px;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: fixed;
        background-color: #F8F6F0;
     
    }

 
    
    .mobile-button-container {
        background-color: #F8F6F0;
        display: flex;
        column-gap: 24px;
        padding: 24px 24px;
       
    }
    .back-to-library{
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }
    .desktop-mobile-label{
        color: #2D2B29;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        padding-top: 6px;
    }
    .form-switch .form-check-input {
       
        width: 28px !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='white'/%3e%3c/svg%3e") !important;
    }
}