.vertical-tabs {
    display: flex;
    flex-direction: column;
    max-width: 226px !important;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
}

.folio-form-nav-item {
    display: flex;
    padding-left: 28px;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #C9C9C9;
}

.folio-form-nav-item:last-child {
    border-bottom: none;
}

.form-sub-header-disable {
    padding-top: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #CFCFCF;
}


.form-favicon-note-disabled {
    padding-top: 8px;
    font-size: 14px;
    color: #CFCFCF;
}

.regular-user-message-container {
    margin-top: 24px;
    background-color: #F8F6F0;
    border-radius: 16px;
    padding: 16px;
}

.regular-user-message {
    margin: 0;
    font-size: 14px;
}

.upgrade-now-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folio-form {
    color: black;
    border-top-right-radius: 0px;
    font-weight: 600;
    text-decoration: none;
}

.folio-form.active {
    color: #4D9F70;
    font-weight: 600;
    border-top-right-radius: 0px;
    text-decoration: none;
}


.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.folioform-mobile {
    flex: 1;
    box-sizing: border-box;
}

.folioform {
    flex: 1;
    box-sizing: border-box;
    padding-left: 120px;
    padding-right: 120px;
}

.folio-form-tab-content {
    padding-top: 44px;
    max-width: 600px !important;
}

.tab-container {
    padding-top: 44px;
}

.form-title-notes {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
}

.form-content-upper-note {
    font-size: 14px;
    padding-top: 24px;
    margin: 0;
}

.form-content-note {
    font-size: 14px;
    padding-top: 24px;
    font-weight: 600;
    margin: 0;
}

.mobile-form-content-upper-notes {
    font-size: 14px;
}

.form-content-note-list li {
    font-size: 12px;
}

.form-custom-domain-note {
    font-size: 14px;
}

.form-favicon-note {
    padding-bottom: 24px;
    font-size: 14px;
    font-size: 14px;
    margin: 0;
}


.favicon-prev {
    height: 64px;
    width: 64px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

/* Mobile View */

.app-wrapper-mobile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tab-container-mobile {
    flex: 1;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}


.vertical-tabs-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
}

.nav-item-mobile {
    display: flex;
    padding-left: 24px;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #C9C9C9;
}

.nav-item-mobile-last {
    display: flex;
    padding-left: 24px;
    align-items: center;
    height: 58px;
}

/* Form instruction Mobile */

.div-form-instruction-mobile {
    padding-left: 20px;
    padding-right: 20px;
}

.free-domain {
    font-size: 16px;
    padding-bottom: 24px;
    padding-top: 8px;
}

.mobile-free-domain {
    font-size: 16px;
    padding-bottom: 32px;
    padding-top: 8px;
}