.terms-and-privacy-container {
    padding: 40px 0px;
    background-color: #F8F6F0;
}

.terms-and-privacy-body {
    max-width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}

.terms-and-privacy-header {
    text-align: center;
    padding-bottom: 40px;
    font-weight: 600;

}

.terms-and-privacy-subheader {
    font-size: 24px;
    font-weight: 600;
}

.terms-and-privacy-title {
    font-size: 18px;
    font-weight: 600;
}